.input[type=text] {
    border: none;
    font-size: 17px;
  }

  .searchbar{
    background-color: #fafdf2;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;

  }
